@import url(./root.css);

/* <----------------------------------------------------------- Normal Css Prop ----------------------------------------------------------------> */

.get_btn {
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.start_btn {
    border: 1px solid var(--primary-color);
    background: var(--color-white);
    color: var(--primary-color);
}

.nav_link {
    transition: all 300ms linear;
}

.max_w_lorem {
    max-width: 766px;
    min-height: 124px;
}

.max_w_random_text {
    max-width: 565px;
    min-height: 50px;
}

.changed_color {
    color: var(--primary-color);
}

.changes {
    font-weight: var(--fw-600);
}

.max_w_text {
    max-width: 525px;
    min-height: 100px;
}

.max_text {
    max-width: 556px;
    min-height: 50px;
}

.w_h_box {
    max-width: 1140px;
    min-height: 381px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 235px;
    padding-right: 235px;
    border-radius: 21px;
    background-color: var(--primary-color);
}

.max_W_Lorem {
    max-width: 669px;
    min-height: 94px;
}

.lorem_text_max_w {
    max-width: 615px;
    min-height: 50px;
}

.footer_svg_w_h {
    max-width: 161px;
    min-height: 102.59px;
}

.white_footer_line {
    width: 100%;
    height: 2px;
    background: var(--white_footer_line);
}

.anchor_text_clr {
    color: var(--black-color);
}

.cursor_text {
    cursor: text;
}

.opacity-90 {
    opacity: 90%;
}

/* <----------------------------------------------------------- Accordion ----------------------------------------------------------------> */

.brdr {
    border-bottom: 1px solid var(--light-black-clr);
}

.disp_text {
    display: none;
    max-width: 786px;
    min-height: 75px;
}

.accoridon_items {
    max-width: 831px;
    min-height: 28px;
}

/* <----------------------------------------------------------- images or BackImages or backcolor ----------------------------------------------------------------> */

.header_back_img {
    background-image: url(../images/png/hero_sec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume_back_img {
    background-image: url(../images/png/resume_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back_clr {
    background: var(--theme-sec-color);
}

.slider_back_clr {

    background-image: url(../images/png/slider_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec_tool_clr {
    background: var(--sec-back-clr);
}

.sec_back_img {
    background-image: url(../images/png/tool_sec_background_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lg_back_sec {
    background: var(--lg-back-sec);
}

.back_footer_clr {
    background: var(--footer-clr);
}

/* <----------------------------------------------------------- spacing ----------------------------------------------------------------> */
.mt_40px {
    margin-top: 40px;
}

.ms_20px {
    margin-left: 20px;
}

.py_17px {
    padding-top: 17px;
    padding-bottom: 17px;
}

.px_38px {
    padding-left: 38px;
    padding-right: 38px;
}

.brdr_rad {
    border-radius: 41px;
}

.gap_41px {
    gap: 41px;
}

.mb_40px {
    margin-bottom: 40px;
}

.mt_35px {
    margin-top: 35px;
}

.py_80px {
    padding-top: 80px;
    padding-bottom: 80px;
}

.py_160px {
    padding-top: 160px;
    padding-bottom: 160px;
}

.pb_40px {
    padding-bottom: 40px;
}

.py_100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt_130px {
    padding-top: 130px;
}

.pt_40px {
    padding-top: 40px;
}

.pb_160px {
    padding-bottom: 160px;
}

.mt_82px {
    margin-top: 82px;
}

.py_20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt_20px {
    padding-top: 20px;
}

.mt_69px {
    margin-top: 69px;
}

.gap_32px {
    gap: 32px;
}

.pt_32px {
    padding-top: 32px;
}

.my_80px {
    margin-top: 80px;
    margin-bottom: 80px;
}

.py_hero_sec {
    padding-top: 160px;
    padding-bottom: 160px;
}

/* <----------------------------------------------------------- Positions ----------------------------------------------------------------> */

.nav_link {
    position: relative;
}

.ellipse_pos_center {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    left: 30%;
    top: 10%;
    animation: rotation 3s infinite;
}

.disc {
    right: 57px;
    top: 40%;
    animation: rotation 3s infinite;
}

.floating_text {
    position: relative;
}

.ellipse_theme_pos_left {
    top: -215px;
    left: 0;
}

.ellipse_theme_pos_right {
    bottom: 0;
    right: 0;
}

.help_ellipse_left {
    left: 0;
    bottom: -155px;
}

.help_ellipse_right {
    right: 0;
    top: -185px;
}

.resume_ellipse {
    right: 0;
}

.resume_center_ellipse {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bottom_line {
    position: relative;
}

.line_bottom {
    position: relative;
}

.first_image {
    position: absolute;
    left: 0;
    top: 0;
}

.second_image {
    position: absolute;
    left: 0;
    bottom: 0;
}

.third_image {
    position: absolute;
    right: 0;
    top: 0;
}

.forth_image {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* <----------------------------------------------------------- Hover ----------------------------------------------------------------> */

.nav_link:hover {
    animation: navbar 3s infinite;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link:hover {
    -webkit-text-stroke: thin;
}

.get_btn:hover {
    background: var(--color-white);
    border: 1px solid var(--color-white);
    color: var(--primary-color) !important;
    box-shadow: 0px 0px 15px 0px var(--get_btn) !important;
    transform: scale(1.05);
}

.start_btn:hover {
    transition: all 300ms linear;
    background: var(--primary-color);
    border: 1px solid transparent;
    color: var(--color-white);
    box-shadow: 0px 0px 15px 0px var(--get_btn) !important;
    transform: scale(1.05);
}

.nav_link:hover {
    background: var(--nav_link);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: transparent;
    background-clip: text;
    color: transparent;
}

.hover_effect_text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--blue_color);
}

.footer_link {
    position: relative;
    transition: all 300ms linear;
}

.footer_link:hover {
    opacity: 1 !important;
}

.svg_hover_fac:hover svg path {
    animation: svg_face_anim 3s 1;
    fill: var(--blue_color);
}

.svg_hover_fac:hover svg path {
    transition: all 300ms linear;
    stroke: var(--primary-color);
}

.svg_hover:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.svg_hover_inst:hover {
    animation: svg_animation 2s 1;
}

.svg_hover_inst:hover {
    animation: svg_animation 2s 1;
}

.svg_hover:hover svg path {
    fill: var(--primary-color);
}


/* <----------------------------------------------------------- preloader ----------------------------------------------------------------> */

.preloader {
    background-image: url(../images/png/complete_page_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 100;
    transition: all 300ms linear;
}

.-top_100 {
    top: -100% !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.containers {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    padding: 2rem;
}

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    /* Adjust as needed */
    will-change: background-position;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: -10vw;
}

.bird--one {
    animation-name: fly-right-one;
    animation-duration: 15s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-name: fly-right-one;
    animation-duration: 16s;
    animation-delay: 0.5s;
}

.bird--three {
    animation-name: fly-right-one;
    animation-duration: 14.6s;
    animation-delay: 9s;
}

.bird--four {
    animation-name: fly-right-one;
    animation-duration: 16s;
    animation-delay: 1s;
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

/* <----------------------------------------------------------- Before $ After ----------------------------------------------------------------> */
.footer_link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: var(--primary-color);
    width: 0;
    height: 2px;
    transition: all 300ms linear;
}

.footer_link:hover::after {
    width: 100%;
}

.nav_link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    left: 50%;
    transform: translate(-50%, 5px);
    bottom: 0;
    transition: all 300ms linear;
}

.floating_text::after {
    content: "";
    position: absolute;
    background-image: url("../images/png/arrow_slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: -23px;
    left: 31px;
    width: 36px;
    min-height: 29px;
}

.bottom_line::after {
    content: "";
    position: absolute;
    background-image: url(../images/png/line_bottom_text.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 11px;
}

.diff_bot_line::after {
    content: "";
    position: absolute;
    background-image: url(../images/png/job_line.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 11px;
}

/* <----------------------------------------------------------- keyframe ----------------------------------------------------------------> */

@keyframes svg_animation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes svg_face_anim {
    to {
        background-position: 20vw;
    }
}

@keyframes navbar {
    to {
        background-position: 20vw;
    }
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

/* <----------------------------------------------------------- Slick Slider ----------------------------------------------------------------> */

.inside_slick_div {
    width: 156px;
    height: 141px;
    padding: 27.5px 36px 35px 36px;
    border-radius: 8px;
    border: 1px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 30px 0px var(--inside_slick_div);
}

.slick-dots li button {
    display: none !important;
}

.slick-dots .slick-active {
    background: var(--primary-color);
    width: 23px;
    height: 5px;
    border-radius: 6px;
}

.slick-dots li {
    background: var(--light-black-clr);
    width: 16px;
    height: 5px;
    border-radius: 6px;
}

.slick-current div .slick-item div {
    border: 1px solid var(--primary-color);
}

.slick-list {
    padding: 10px;
}

.slick-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}

/* client slider section*/

.floating_text {
    max-width: 357px;
    min-height: 104px;
    padding: 15px 18px 14px 18px;
    border-radius: 10px;
    box-shadow: 0px 18px 59px 0px rgba(0, 0, 0, 0.07);
}

.slick-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-slide div .container_hero {
    width: 100% !important;
}

.max_W_row {
    max-width: 1032px;
}

/* hero slider */

.hero_slider .slick-slide {
    width: 320px !important;
}

.hero_slider .slick-list {
    width: 320px !important;
    height: 450px !important;
}

.hero_slider .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_slider .slick-dots {
    bottom: 0;
}

.hero_slider .slick-slide {
    margin: 10px;
}

.h_384px {
    height: 405px;
}